/*General Styling for website*/

nav {
    background-color: gray;
        height: 30px;
        display: center;
        padding: 10px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 30px;}

    span {
        text-align: center;
        font-weight: bold;}

    .web {
        color: red;}

    div { 
        border: 2px solid black;
        height: 170px;}

     ul li{
        display: inline;
        color: purple;
        background-color: rgb(25, 219, 249);
        padding: 5px;
        margin: 7px;}

    ul{
        margin: 20px;}

    ol li{
        display: inline;
         color: rgb(46, 13, 210);
        background-color: rgb(19, 229, 110);
        padding: 5px;
        margin-left: 5px;}

    ol{
        margin-left: 35px;
        padding:0px ;}