/*Styling for profile card */
 body {font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    }

.card-container {padding: 20px;
    border: 1px solid #ccc; 
    max-width: 1000px;
    display: flex;
    flex-direction: row; 
    justify-content: center; gap: 30px; }

.profile-card {background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px; width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    transition: transform 0.2s;
   text-shadow: 2px 2px 5px;}

.profile-card:hover {transform: translateY(-5px);
 text-shadow: 2px 2px 5px;}

.image {width: 60px;
    height: 60px;
    background-color: #007bff; color: white;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 5px gray;
}
.name {font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;}

    .details {font-size: 13px; 
        color: #555; 
        line-height: 1.5;}